In [36]:
x=["mohamed","ahmed","metwaly"]
x.append("faculty")
x.append(True)
x

['mohamed', 'ahmed', 'metwaly', 'faculty', True]

In [37]:
x=["mohamed","ahmed","metwaly"]
x.insert(2,"ibrahim")
x

['mohamed', 'ahmed', 'ibrahim', 'metwaly']

In [38]:
x=["mohamed","ahmed","metwaly"]
y=["aheme","fgfg","gdg"]
x.extend(y)
x[3]

'aheme'

In [39]:
x=["mohamed","ahmed","metwaly"]
z=x.pop(0)
z

'mohamed'

In [40]:
x=["mohamed","ahmed","metwaly"]
z=x.remove("ahmed")
z

In [41]:
x=["mohamed","ahmed","metwaly"]
del x[0]
x

['ahmed', 'metwaly']

In [42]:
x=input("enter1")
y=input("enter2")
x,y

('1', '2')

In [43]:
x=input("enter1")
y=input("enter2")
x+y

'236'

In [47]:
x=float(input("enter1"))
y=float(input("enter2"))
x+y

17.0

In [52]:
x=[1,2,3]
z=x.index(2)
z

1

In [53]:
x=[1,2,3,2]
z=x.count(2)
z

2

In [55]:
x=[1,2,3,2]
x.sort()
x

[1, 2, 2, 3]

In [56]:
x=[1,2,3,2]
x.reverse()
x

[2, 3, 2, 1]

In [57]:
x=[1,2,3,2]
x.clear()
x

[]

tuple

In [60]:
x=(1,2.5,"mohamed",True,[1,3,5])
x

(1, 2.5, 'mohamed', True, [1, 3, 5])

In [61]:
x=(1,2.5,"mohamed",True,[1,3,5])
x[3]

True

In [62]:
x=(1,2.5,"mohamed",True,[1,3,5])
x[3]=3
x

TypeError: 'tuple' object does not support item assignment

In [70]:
x=(1,2.5,"mohamed",True,[1,3,5])
y=list(x)
y[3]=3
x=tuple(y)
x

(1, 2.5, 'mohamed', 3, [1, 3, 5])

set

In [66]:
 x={1,2,3}
 x

{1, 2, 3}

set

In [68]:
 x={1,2,3}
x[0]

TypeError: 'set' object is not subscriptable

In [75]:
 x={1,3,2,3}
x

{1, 2, 3}

In [79]:
x="mohamed"
x=set(x)
x

{'a', 'd', 'e', 'h', 'm', 'o'}

In [81]:
x={1,2.5,"mo",{1,2,4}}
x

TypeError: unhashable type: 'set'

dictionary

In [82]:
x={"mo":1,2:8,"ho":5}
x

{'mo': 1, 2: 8, 'ho': 5}

In [86]:
x={"mo":1,2:8,"ho":5}
x["mo"]

1

In [90]:
x={
  "house1":{"room1":"bed","room2":"disk"},
  "house2":{"room1":"chair","room2":"lamb"},
  "house3":{"room1":"book","room2":"table"}
}
x["house1"]["room1"]

'bed'

formating

In [97]:
num1=int(input("enter1"))
num2=int(input("enter2"))
print(f"sum = {num1+num2}")
print(f"sub = {num1-num2}")
print(f"mul = {num1*num2}")
print(f"div= {num1/num2}")

sum = 6
sub = -4
mul = 5
div= 0.2

if statement

In [96]:
a=5
b=10
if a>b:
    print("a>b")
elif a==b:
    print("a=b")
else:
    print("a<b")

a<b

In [98]:
x=5
y=10
if x>0 and y>0:
    print("x and y positive")

x and y positive

In [101]:
x=10

if x>0 or y<10:
    print("yes")

yes

In [107]:
rain=False
if not rain:
    print("yes")

yes

In [2]:
mark=int(input("enter ur mark"))
if mark>=90 and mark<=100:
    print("A")
    
elif mark>=80 and mark<90:
    print("B")
       
elif mark>=70 and mark<80:
    print("C")
      
elif mark>=60 and mark<70:
    print("D")
      
else :
    print("F")

F

task1

In [24]:
x=input("enter your email")
if "@"  in x and "." in x and x.index(".")>x.index("@"):
    print("valid email") 
    print(x[:x.index("@")])
    print(x[x.index("@")+1:x.index(".")])  
    
    if x[x.index("."):]==".com":
        print("Commercial Domain")
    
    elif x[x.index("."):]==".edu" :
        print("Educational Domain")
         
    else:
        print("Other Domain")    

else:
    print("invalid email")

valid email
mohamedmrtwaly2
gmail
Commercial Domain

formating

In [5]:
name="mo"
age=21
s="my name is {} and age is {}".format(name,age)
s  ##hyhyhh

'my name is mo and age is 21'